<div id="<%= dom_id restaurant %>" class="card border-0 shadow p-3">
  <div class="card-body ">
    <p>
      <strong>Name:</strong>
      <%= restaurant.name %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= restaurant.address %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= restaurant.category %>
    </p>
    <p>
      <strong>Phone number:</strong>
      <%= restaurant.phone_number %>
    </p>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>

  </div>
</div>
